@import 'Colors';

#HomeContainer {
    min-height: 95vh;
    background-color: $homeColor;
}

#HomeContainer p {
    margin-top: 0;
}

@media (prefers-color-scheme: dark){
    #HomeContainer {
        background-color: $homeColorDark;
    }
}