@import 'Colors';

#WorksContainer {
    padding-top: 4em;
    min-height: 100vh;
}

#WorkLists {
    width: 82vw;
    margin: auto;
}

.works {
    border-bottom: 1px solid $lineColor;
    display: flex;
    justify-content: space-between;
    min-height: 25vh;
    flex-wrap: wrap;
    margin: 1.5em 0;
    padding-bottom: 1em;
}

.works .infoWorks {
    width: 100%;
}

.works .infoWorks p{
    font-size: 18pt;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.works .infoWorks div {
    display: flex;
    justify-content: space-around;
}

.works .infoWorks div p {
    text-transform: capitalize;
    font-size: 14pt;
    font-style: italic;
    background-color: $accentColor;
    width: fit-content;
    padding: 5px 10px;
    margin: 10px 10px;
    font-weight: 300;
}

.works .imageWorks {
    width: 100vw;
    margin: 0;
    text-align: center;
}

.works .imageWorks img{
    width: 100%;
    margin-bottom: 10px;
}

.works .descriptionWorks{
    width: 100%;
}

.works .descriptionWorks div{
    margin-bottom: 20px;
}

.works .descriptionWorks a {
    color: $text;
}

#filter {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $text;
    font-style: italic;
    font-size: 15pt;
    align-items: center;
}

#filter p {
    margin: 0;
    padding: 0;
}

#categories p{
    margin-right: 30px;
}

#categories .activeClass {
    color: $accentColor;
}

@media (min-width: 800px) {

#WorkLists {
    width: 75vw;
}

.works {
    padding: 2em;
    min-height: 25vh;
    flex-wrap: nowrap;
}

.works .infoWorks {
    width: 20%;
}

.works .infoWorks p{
    margin-top: 0;
    text-align: left;
}

.works .infoWorks div {
    display: inline-block;
}

.works .infoWorks div p {
    margin: 10px 0;
}

.works .imageWorks {
    width: 55%;
    margin: 10px 40px;
}

.works .imageWorks img{
    width: 80%;
}

.works .descriptionWorks{
    width: 25%;
}

.works .descriptionWorks div{
    max-height: 20vh;
    overflow-y: scroll;
}

#filter {
    font-size: 24pt;
}

#categories {
    font-size: 18pt;
    display: flex;
}

#categories:hover {
    cursor: pointer;
}

}

@media (prefers-color-scheme: dark) {
    .works {
        border-bottom: 1px solid $lineColorDark;
    } 

    .works .descriptionWorks a {
        color: $textDark;
    }

    #filter {
        border-bottom: 1px solid $textDark;
    }
}